kube-prometheus-stack:
  crds:
    enabled: true

  defaultRules:
    create: true
    rules:
      alertmanager: false
      etcd: false
      configReloaders: true
      general: true
      k8s: true
      kubeApiserverAvailability: true
      kubeApiserverBurnrate: true
      kubeApiserverHistogram: true
      kubeApiserverSlos: true
      kubeControllerManager: true
      kubelet: true
      kubeProxy: true
      kubePrometheusGeneral: true
      kubePrometheusNodeRecording: true
      kubernetesApps: true
      kubernetesResources: true
      kubernetesStorage: true
      kubernetesSystem: true
      kubeSchedulerAlerting: true
      kubeSchedulerRecording: true
      kubeStateMetrics: true
      network: true
      node: true
      nodeExporterAlerting: true
      nodeExporterRecording: true
      prometheus: true
      prometheusOperator: true
      windows: false
    labels:
      grafana_alert: "1"

  ## Configuration for alertmanager
  ## ref: https://prometheus.io/docs/alerting/alertmanager/
  ##
  alertmanager:
    enabled: false

  ## Using default values from https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  ##

  grafana:
    enabled: false

  ## Deploy a Prometheus instance
  ##
  prometheus:
    enabled: true

    serviceAccount:
      create: true
      name: ""

  prometheus-node-exporter:
    hostRootFsMount:
      enabled: false
    resources:
      limits:
        memory: 200Mi
      requests:
        cpu: 100m
        memory: 50Mi

  kubeProxy:
    enabled: false
